:root {
    --work-black: #333022;
    --human-ligh: #D5EFFA;
    --human-main: #69C7F2;
    --computer-light: #DFDEF6;
    --computer-main: #C1BFFA;
}

* {
    font-family: system-ui, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--work-black);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin: 48px, 24px, 48px, 24px;
}

h1 {
    font-size: 32px;
    font-weight: 800;
}

h2 {
    font-size: 24px;
    font-weight: 600;

}

h3 {
    font-size: 16px;
    font-weight: 600;
}

.gameselect {
    display: flex;
    width: 100%;
    max-width: 1024px;
    justify-content: space-between;
    
    gap: 24px;
}

.playercard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 24px;
    border: 1px solid var(--work-black);
    border-radius: 16px;
    width: 100%;
    max-width: 320px;

}

.playertitle {
    display: flex;
    align-items: center;
    justify-content: center;
    column-rule-color: #C1BFFA;
    width: 100%;
    gap: 8px;
}

button {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 1px solid var(--work-black);
    border-radius: 32px;
}
button:hover {
    background-color: var(--human-ligh);
    border-color: var(--human-main);
}

