:root {
    --work-black: #333022;
    --human-ligh: #D5EFFA;
    --human-main: #69C7F2;
    --computer-light: #DFDEF6;
    --computer-main: #C1BFFA;
}

* {
    font-family: system-ui, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--work-black);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin: 48px, 24px, 48px, 24px;
}

h1 {
    font-size: 32px;
    font-weight: 800;
}

h2 {
    font-size: 24px;
    font-weight: 600;

}

h3 {
    font-size: 16px;
    font-weight: 600;
}

.gameselect {
    display: flex;
    width: 100%;
    max-width: 1024px;
    justify-content: space-between;
    
    gap: 24px;
}

.playercard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 24px;
    border: 1px solid var(--work-black);
    border-radius: 16px;
    width: 100%;
    max-width: 320px;

}

.playertitle {
    display: flex;
    align-items: center;
    justify-content: center;
    column-rule-color: #C1BFFA;
    width: 100%;
    gap: 8px;
}

button {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 1px solid var(--work-black);
    border-radius: 32px;
    cursor: pointer;
    gap: 0px;
    position:relative;
}
button:hover {
    background-color: var(--human-ligh);
    border-color: var(--human-main);
}


.tooltip {
    visibility: hidden;
    color: white;
    background-color: var(--work-black);
    padding: 8px 8px;
    border-radius: 4px;
    z-index: 90;
    position: absolute;
    width: 80px;
    opacity: 0;
    transition: 0s;
    text-align: center;
    font-size: 16px;
    
}

button:hover .tooltip {
    visibility: visible;
    top: 36px;
    opacity: 1;
    transition: 0.3s;
}

.playercardselector {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.selector {
    width: 80px;
    height: 80px;
    border: 1px solid var(--work-black);
    border-radius: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selector p{
    font-size: 24px;
    position:relative;
}

.human:hover {
    background-color: var(--human-ligh);
    border-color: var(--human-main);
    cursor: pointer;
}

.human:hover .tooltip {
    visibility: visible;
    font-size: 16px;
    top: 64px;
    left: -40px;
    opacity: 1;
    transition: 0.3s;
}


.computer:hover {
    cursor: not-allowed;
}

.gameshow {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pointsection {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1024px;
    align-items: center;
}


.resulthighlight {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.highlight {
    width: 90px;
    height: 90px;
    border: 3px solid var(--work-black);
    border-radius: 80px;
}
.pointsection p {
    font-size: 48px;
    font-weight: 700;
}

#humanScore {
    color: var(--human-main);
}

#computerScore {
    color: var(--computer-main);
}


.history {
    display: flex;
    width: 100%;
    max-width: 1024px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.historyline {
    display: flex;
    
}